TZ=UTC

APP_NAME="Nest Boot Example"
APP_URL=http://localhost:3000
AUTH_URL=http://localhost:4000
APP_SECRET=change-me-in-local-development

# Database
DATABASE_URL=postgresql://postgres:secret@localhost:35432/postgres

# Redis
REDIS_URL=redis://localhost:36379/0

# Mail
SMTP_URL=smtp://localhost:31025
SMTP_FROM="Nest Boot Example <no-reply@example.com>"

# Auth
AUTH_OIDC_ENABLED=false
AUTH_OIDC_ID=example-client-id
AUTH_OIDC_SECRET=example-client-secret
AUTH_OIDC_ISSUER="https://auth.example.test/oidc"
AUTH_OIDC_DISCOVERY_URL="https://auth.example.test/oidc/.well-known/openid-configuration"
